:root {
    --grid-cols: 16;
    --grid-rows: 16;
    --color: white;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    width: 960px;
    height: 80vh;
    margin: 0 auto;
    border-style: ridge;
}

header {
    position: sticky;
    height: 10vh;
    top: 0;
    text-align: center;
    line-height: 10vh;
    background:  black;
    color: white;
    font-weight: 800;
}

.optionsContainer {
    position: absolute;
    width: 40vh;
    height: 70vh;
    left: 6vh;
    top: 15vh;
    border-style:groove;
    border-color: gray;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-top: 5vh;
    justify-content: flex-start;
    align-items: center;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 35vh;
    height: 5vh;
    opacity: 0.7;
    transition: 0.2s;
}

.slider:hover {
    opacity: 1;
}

.btn {
    height: 5vh;
    width: 35vh;
    background-color: lightblue;
    opacity: 0.9;
    font-weight: bolder;
}

.btn:hover {
    border-style: groove;
    opacity: 1;
}

.btn:active {
    border: black 3px solid;
}

.eraserToggle {
    background-color: grey;
}

.rainbowToggle {
    background-color: grey;
}

.shadingToggle {
    background-color: grey;
}

.gridToggle {
    background-color: grey;
}

.grids {
    height: auto;
    width: auto;
    background-color: var(--color);
}

.gridBorder {
    border: black 1px solid;
}

.grids:hover {
    background-color: var(--color);
}